@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

::-webkit-scrollbar {
  width: 2.5px;
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(15px) saturate(200%);
  background-color: rgba(var(--foreground-color-rgb), 0.75);
  border-bottom: 1px solid rgba(var(--border-color-rgb), 0.2);
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf30;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
}
.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidenav {
  height: 100%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  .spin {
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
    &:hover {
      transform: rotate(30deg);
    }
  }
  .logo {
    font-family: "lobster";
    font-weight: normal;
    color: #ff9655;
    font-size: 1.8rem;
    animation: fadein 0.5s ease-in forwards;
    padding: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px;
      a {
        color: #dcdcdc;
        text-decoration: none;
        font-size: larger;
        span {
          display: none;
          text-transform: uppercase;
        }
      }
    }
  }
}

.post_area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-y: scroll;
  padding-right: 20px;
  gap: 50px;
  flex: 0.6;
  .post_container:first-child {
    margin-top: 40px;
  }
  .post_container:last-child {
    margin-bottom: 40px;
  }
  .post_container {
    width: 70%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .post_title {
      width: 100%;
      height: 50px;
      background-color: #292929;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      color: #dcdcdc;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      img {
        width: 32px;
        height: 32px;
        margin: 0 10px;
        margin-left: 20px;
        object-fit: cover;
        border-radius: 50%;
      }
      h6 {
        flex: 1;
        padding: 0;
        margin: 0;
        a {
          text-decoration: none;
          color: #dcdcdc;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          &:hover {
            text-decoration: underline;
            span {
              text-decoration: none;
            }
          }
        }
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        margin-right: 20px;
        font-size: 1.5rem;
        color: #dcdcdc;
      }
    }
    .post_img {
      width: 100%;
      background-color: #292929;
      img {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: contain;
        background-color: #353535;
      }
    }
    .post_footer {
      width: 100%;
      background-color: #292929;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .post_caption {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 0 20px;
        width: 95%;
        p {
          margin: 0;
          padding: 0;
          font-size: 0.9rem;
          font-weight: bold;
          color: #dcdcdc;
          max-height: 100px;
          overflow-y: hidden;
          width: 100%;
        }
        .comment_container {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          .comment_title {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            img {
              width: 20px;
              height: 20px;
              object-fit: cover;
              border-radius: 50%;
            }
            h6 {
              margin: 0;
              padding: 0;
              font-size: small;
              a {
                text-decoration: none;
                color: #dcdcdc;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            p {
              margin: 0;
              padding: 0;
              font-size: small;
              color: #dcdcdc;
              font-weight: 500;
            }
          }
        }
      }
      .post_interections {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        gap: 10px;
        .like {
          display: flex;
          margin: 0 0 0 20px;
          justify-content: center;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          font-size: 1.4rem;
          transition: transform 0.2s ease-in-out;
          color: #dcdcdc;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.9);
            font-weight: bold;
            color: red;
          }
        }
        .liked {
          color: red;
          font-weight: bold;
        }
        .like-count {
          padding: 1px;
          margin: 0;
          color: #cdcdcd;
          font-size: 1rem;
          font-weight: normal;
        }
        .comment {
          cursor: pointer;
          font-size: 1.4rem;
          transition: transform 0.2s ease-in-out;
          color: #dcdcdc;
          &:hover {
            transform: scale(1.1);
          }
        }
        .input_container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          font-size: 1.4rem;
          flex: 1;
          margin-right: 20px;
          border-radius: 10px;

          input {
            width: 100%;
            height: 30px;
            border: none;
            outline: none;
            padding: 0 10px;
            border-radius: 20px;
            font-size: 1rem;
            background-color: #424242;
            color: #cdcdcd;
          }
          button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1.2rem;
            margin-right: 4px;
            color: #cdcdcd;
          }
        }
      }
    }
  }
}

.suggestion_area {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0.4;
  .suggestion_container {
    width: 60%;
    height: 80%;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    .title {
      width: 100%;
      height: 50px;
      display: flex;
      margin-left: 20px;
      align-items: center;
      font-size: 1.1rem;
      font-weight: bold;
      color: #e3e3e3;
    }
    .suggestion_list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow-y: auto;
      padding-top: 10px;
      gap: 20px;
      .suggestion {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: linear-gradient(145deg, #1e1e1e, #151515);
        padding: 5px;
        img {
          width: 32px;
          height: 32px;
          margin: 0 10px;
          margin-left: 20px;
          object-fit: cover;
          border-radius: 50%;
        }
        .data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          flex: 1;
          h3 {
            margin: 0;
            padding: 0;
            font-size: 0.9rem;
            font-weight: bold;
            color: #dcdcdc;
            a {
              text-decoration: none;
              color: #dcdcdc;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .username {
            font-weight: 400;
          }
        }
        button {
          background-color: rgb(0, 98, 189);
          border: none;
          outline: none;
          height: 32px;
          cursor: pointer;
          margin-right: 20px;
          font-size: 0.9rem;
          color: #ffffff;
          border-radius: 10px;
          position: relative;
          font-size: 0.8rem;
          padding: 0 12px;
          font-weight: bold;
          span {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            visibility: hidden;
            font-size: large;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.material-symbols-outlined {
  font-size: 1.2rem;
  margin-left: 5px;
  color: rgb(0, 98, 189);
}
.small {
  font-size: 1rem !important;
}
